/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

// layers ID definition
#define DEF     0
#define DEF_OSX 1
#define NAV     2
#define NAV_OSX 3
#define SYM     4
#define NUM     5
#define FUN     6
#define SYS     7

// macros definition
#define meh      LC(LS(LALT))
#define hyper    LG(LC(LS(LALT)))
#define deg      RA(LS(SEMI))
#define prev_tab LS(LC(TAB))
#define next_tab LC(TAB)

// OSX specific macros
#define copy_OSX        LG(C)
#define paste_OSX       LG(V)
#define undo_OSX        LG(Z)
#define redo_OSX        LG(LS(Z))
#define new_tab_OSX     LG(T)
#define prev_screen_OSX LC(LEFT)
#define next_screen_OSX LC(RIGHT)
#define prev_win_OSX    LG(TAB)
#define next_win_OSX    LG(LS(TAB))
#define prev_page_OSX   LG(LBKT)
#define next_page_OSX   LG(RBKT)

// Windows/Linux specific macros
#define copy        LC(C)
#define paste       LC(V)
#define undo        LC(Z)
#define redo        LC(LS(Z))
#define new_tab     LC(T)
#define prev_screen LC(LG(LEFT))
#define next_screen LC(LG(RIGHT))
#define prev_win    LA(TAB)
#define next_win    LA(LS(TAB))
#define prev_page   LC(LBKT)
#define next_page   LC(RBKT)

&sk {
    release-after-ms = <1000>;
};
&sl {
    release-after-ms = <2000>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        nav_osx_layer {
            if-layers = <DEF_OSX NAV>;
            then-layer = <NAV_OSX>;
        };
        num_layer {
            if-layers = <NAV SYM>;
            then-layer = <NUM>;
        };
        num_osx_layer {
            if-layers = <NAV_OSX SYM>;
            then-layer = <NUM>;
        };
    };
    macros {
        // esc_space: esc_space {
        //     label = "ZM_esc_space";
        //     compatible = "zmk,behavior-macro";
        //     #binding-cells = <0>;
        //     bindings
        //         = <&macro_press &kp ESC>
        //         , <&macro_tap &kp SPACE>
        //         , <&macro_release &kp ESC>
        //         ;
        // };
    };
    behaviors {
        // espmod: esc_space_mod {
        //     compatible = "zmk,behavior-hold-tap";
        //     label = "ESC_SPACE_MOD";
        //     #binding-cells = <2>;
        //     flavor = "hold-preferred";
        //     tapping-term-ms = <400>;
        //     quick-tap-ms = <200>;
        //     bindings = <&kp>, <&esc_space>;
        // };
        skht: sticky_key_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "STICKY_KEY_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&sk>;
        };
        lthp: layer_tap_hold_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_HOLD_PREFERRED";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };
        ltb: layer_tap_balanced {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_BALANCED";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };
        ltbr: layer_tap_balanced_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_BALANCED_REPEAT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&key_repeat>;
        };

        pc_connect: pc_connect{
            label = "ZM_PC_CONNECT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <100>;
            tap-ms = <5>;
            bindings = <&bt BT_SEL 1 &to DEF>;
        };
        osx_connect: osx_connect{
            label = "ZM_OSX_CONNECT";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <100>;
            tap-ms = <5>;
            bindings = <&bt BT_SEL 0 &to DEF_OSX>;
        };
    };
    combos {
        compatible = "zmk,combos";
        combo_tab {
            // conflicts with Qwerty "we"
            key-positions = <2 3>;
            bindings = <&kp TAB>;
        };
        combo_esc {
            key-positions = <26 27>;
            bindings = <&kp ESC>;
        };
        combo_bsp {
            key-positions = <8 9>;
            // not needed in first layer
            // conflicts with SYM layer "()"
            layers = <3 4>;
            bindings = <&kp BSPC>;
        };
        combo_ent {
            key-positions = <32 33>;
            // conflicts with SYM layer "[]"
            layers = <0 1 3 4>;
            bindings = <&kp RET>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

// Qwerty
//                 default_layer {
// // -----------------------------------------------------------------------------------------
// // |  TAB |  Q   |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P   | BKSP |
// // |  ESC |  A   |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;   |  '   |
// // | SHFT |Z/SHFT|  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |//SHFT| ESC  |
// //            | TAB/ALT | GUI | ESC/CTRL |   | ENT | SPC/LWR | RSE |
//                         bindings = <
//    &kp TAB   &kp Q       &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P          &kp BSPC
//    &kp ESC   &kp A       &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI       &kp SQT
//    &kp LSHFT &mt LSHFT Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &mt RSHFT FSLH &kp ESC
//              &mt LALT TAB &kp LGUI &mt LCTRL ESC   &kp RET &lt 1 SPACE &mo 2
//                         >;
//                 };

// Colemak-DH
        default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q   |  W  |  F  |  P  |  B   |   |  J  |  L  |  U  |  Y  |  ;  | BKSP |
// |  ESC |  A   |  R  |  S  |  T  |  G   |   |  M  |  N  |  E  |  I  |  O  |  '   |
// | SHFT |Z/SHFT|  X  |  C  |  D  |  V   |   |  K  |  H  |  ,  |  .  |  /  | ESC  |
//            | CMD/CTRL | NAV/RPT | SHFT |   | SPC/NAV | SPC/SYM | BKSP |
            bindings = <
   &kp TAB   &kp Q       &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSPC
   &kp ESC   &kp A       &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E     &kp I   &kp O    &kp SQT
   &kp LSHFT &mt LSHFT Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp ESC
          &skht LCTRL LGUI &ltbr NAV 0 &sk LSHFT   &ltb NAV SPACE &ltb SYM SPACE &kp BSPC
            >;
        };

        default_osx_layer {
// -----------------------------------------------------------------------------------------
// |      |      |     |     |     |      |   |     |     |     |     |     |      |
// |      |      |     |     |     |      |   |     |     |     |     |     |      |
// |      |      |     |     |     |      |   |     |     |     |     |     |      |
//                     |     |     |      |   |     |     |     |
            bindings = <
   &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans &trans &trans &trans
            >;
        };

        nav_layer {
// -----------------------------------------------------------------------------------------
// | TAB  | `    | TAB  | TAB LFT | TAB RGT | NEW TAB |  | HOME | PGDN | PGUP | END | SCR LFT | BKSP |
// | ESC  | SHFT | CTRL | ALT     | CMD     | VOL UP  |  | LFT  | DWN  | UP   | RGT | ENT     |      |
// | SHFT | UNDO | REDO | COPY    | PASTE   | VOL DN  |  | BKSP | BACK | FWD  | DEL | SCR RGT |      |
//                              | SYS  |    | PLAY    |  |      | NUM  | DEL  |
            bindings = <
   &kp TAB   &kp GRAVE &kp TAB   &kp prev_tab  &kp next_tab  &kp new_tab &kp HOME &kp PG_DN     &kp PG_UP     &kp END   &kp prev_screen &kp BSPC
   &kp ESC   &sk LSHFT &sk LCTRL &sk LALT      &sk LGUI      &kp C_VOL_UP &kp LEFT &kp DOWN      &kp UP        &kp RIGHT &kp RET         &none
   &kp LSHFT &kp undo  &kp redo  &kp copy      &kp paste     &kp C_VOL_DN &kp BSPC &kp prev_page &kp next_page &kp DEL   &kp next_screen &none
                                          &sl SYS &trans &kp C_PLAY_PAUSE &trans &trans &trans
            >;
        };

        nav_osx_layer {
// -----------------------------------------------------------------------------------------
// |      |      |      |      |       | NEW TAB |  |      |      |      |      | SCR LFT |      |
// |      |      |      |      |       |         |  |      |      |      |      |         |      |
// |      | UNDO | REDO | COPY | PASTE |         |  |      | BACK | FWD  |      | SCR RGT |      |
//                      |      |       |         |  |      |      |      |
            bindings = <
   &trans &trans       &trans       &trans       &trans        &kp new_tab_OSX &trans &trans            &trans            &trans &kp prev_screen_OSX &trans
   &trans &trans       &trans       &trans       &trans        &trans          &trans &trans            &trans            &trans &trans              &trans
   &trans &kp undo_OSX &kp redo_OSX &kp copy_OSX &kp paste_OSX &trans          &trans &kp prev_page_OSX &kp next_page_OSX &trans &kp next_screen_OSX &trans
                                                          &trans &trans &trans &trans &trans &trans
            >;
        };

        sym_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  &  |  *  |  (  |  )  |  :  | BKSP |
// |  ESC |  `  |  ~  |  =  |  _  |Resrv|   |  -  | CMD | ALT | CTRL|  '  |  `   |
// | SHFT |     | "|" |  \  |Resrv|  ^  |   |  +  |  *  |  [  |  ]  |  "  |  ~   |
//                    |     | NUM |     |   |     |     |     |
            bindings = <
   &kp  TAB  &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT &kp AMPS  &kp STAR &kp LPAR &kp RPAR  &kp COLON &kp BSPC
   &kp  ESC  &kp GRAVE &kp TILDE &kp EQUAL &kp UNDER &trans    &kp MINUS &sk RGUI &sk RALT &sk RCTRL &kp SQT   &kp GRAVE
   &kp LSHFT &kp CARET &kp PIPE  &kp BSLH  &trans    &kp CARET &kp PLUS  &kp STAR &kp LBKT &kp RBKT  &kp DQT   &kp TILDE
                                 &trans    &trans    &trans    &trans &trans &trans
            >;
        };

        num_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2   |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |  // disabled
// |  TAB |  7  |  5   |  3  |  1  |  9  |   |  8  |  0  |  2  |  4  |  6  | BKSP |
// |  ESC | SHFT| CTRL | ALT | CMD | SPC |   |  -  | CMD | CTRL| ALT | SHFT|      |
// | SHFT | FUN |      |     |  %  |  ^  |   |  +  |  *  |  /  |  .  | FUN |      |
//                     |     |     |     |   |     |     |     |
            bindings = <
// &kp TAB &kp N1    &kp N2    &kp N3   &kp N4   &kp N5    &kp N6    &kp N7   &kp N8   &kp N9    &kp N0    &kp BSPC
   &kp TAB &kp N7    &kp N5    &kp N3   &kp N1   &kp N9    &kp N8    &kp N0   &kp N2   &kp N4    &kp N6    &kp BSPC
   &kp ESC &sk LSHFT &sk LCTRL &sk LALT &sk LGUI &kp SPACE &kp MINUS &sk RGUI &sk RALT &sk RCTRL &sk RSHFT &trans
   &kp TAB &mo FUN   &trans    &trans   &trans   &trans    &kp PLUS  &kp STAR &kp FSLH &kp DOT   &mo FUN   &trans
                               &trans   &trans   &trans    &trans    &trans   &trans
            >;
        };

        fun_layer {
// -----------------------------------------------------------------------------------------
// |  TAB | F7  | F5  | F3  | F1  | F9  |   | F8  | F10 | F2  | F4  | F6  | BKSP |
// |  ESC | SHFT| CTRL| ALT | CMD | F11 |   | F10 | CMD | ALT | CTRL| SHFT|      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    |     |     |     |   |     |     | SYS |
            bindings = <
   &kp TAB &kp F7    &kp F5   &kp F3    &kp F1   &kp F9  &kp F8  &kp F10  &kp F2    &kp F4   &kp F6    &kp BSPC
   &kp ESC &sk LSHFT &sk LCTRL &sk LALT &sk LGUI &kp F11 &kp F12 &sk RGUI &sk RALT &sk RCTRL &sk RSHFT &trans
   &kp TAB &trans    &trans   &trans    &trans   &trans  &trans  &trans   &trans    &trans   &trans    &trans
                              &trans    &trans   &trans  &trans  &trans   &trans
            >;
        };

        sys_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |BTCLR|     | DEF        | DEF_OSX     |        |   |       |      |      |     |     | BKSP |
// |  ESC | BT3 | BT2 | PC connect | OSX connect | Reset  |   | Reset |      |      |     |     |      |
// | SHFT | BT4 |     |            | ExtPwrOff   |ExtPwrOn|   |       |      |      |     |     |      |
//                    |            |             |        |   |       |      |      |
            bindings = <
   &kp TAB   &bt BT_CLR   &trans       &to DEF     &to DEF_OSX       &trans           &trans     &trans &trans &trans &trans &kp BSPC
   &kp ESC   &bt BT_SEL 3 &bt BT_SEL 2 &pc_connect &osx_connect      &sys_reset       &sys_reset &trans &trans &trans &trans &trans
   &kp LSHFT &bt BT_SEL 4 &trans       &trans      &ext_power EP_OFF &ext_power EP_ON &trans     &trans &trans &trans &trans &trans
                                                                 &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};

// vi: ft=dts
