/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        macros {
            esc_space: esc_space {
                label = "ZM_esc_space";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_press &kp ESC>
                    , <&macro_tap &kp SPACE>
                    , <&macro_release &kp ESC>
                    ;
            };
        };
        behaviors {
            espmod: esc_space_mod {
                compatible = "zmk,behavior-hold-tap";
                label = "ESC_SPACE_MOD";
                #binding-cells = <2>;
                flavor = "hold-preferred";
                tapping-term-ms = <400>;
                quick-tap-ms = <200>;
                bindings = <&kp>, <&esc_space>;
            };
        };
        keymap {
                compatible = "zmk,keymap";

// Qwerty
//                 default_layer {
// // -----------------------------------------------------------------------------------------
// // |  TAB |  Q   |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P   | BKSP |
// // |  ESC |  A   |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;   |  '   |
// // | SHFT |Z/SHFT|  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |//SHFT| ESC  |
// //            | TAB/ALT | GUI | ESC/CTRL |   | ENT | SPC/LWR | RSE |
//                         bindings = <
//    &kp TAB   &kp Q       &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P          &kp BSPC
//    &kp ESC   &kp A       &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI       &kp SQT
//    &kp LSHFT &mt LSHFT Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &mt RSHFT FSLH &kp ESC
//              &mt LALT TAB &kp LGUI &mt LCTRL ESC   &kp RET &lt 1 SPACE &mo 2
//                         >;
//                 };

// Colemak-DH
                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q   |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;   | BKSP |
// |  ESC |  A   |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O   |  '   |
// | SHFT |Z/SHFT|  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |//SHFT| ESC  |
//            | TAB/ALT | GUI | ESC/CTRL |   | ENT | SPC/LWR | RSE |
                        bindings = <
   &kp TAB   &kp Q       &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI       &kp BSPC
   &kp ESC   &kp A       &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E     &kp I   &kp O          &kp SQT
   &kp LSHFT &mt LSHFT Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &mt RSHFT FSLH &kp ESC
             &mt LALT TAB &kp LGUI &mt LCTRL ESC   &kp RET &lt 1 SPACE &mo 2
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6   |  7   |  8   |  9  |  0  | BKSP |  // disabled
// |  TAB |  7  |  5  |  3  |  1  |  9  |   |  8   |  0   |  2   |  4  |  6  | BKSP |
// |  ESC |BTCLR|     |     |     |     |   | LFT  | DWN  |  UP  | RGT | HOME|      |
// | SHFT | SHFT| BT1 | BT2 | BT3 | BT4 |   | BKSP | PGDN | PGUP | DEL | END |      |
//              | ALT | GUI |EscSPC/CTRL|   | LYR3?|      |      |
                        bindings = <
// &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5        &kp N6   &kp N7    &kp N8    &kp N9    &kp N0   &kp BSPC
   &kp TAB    &kp N7       &kp N5       &kp N3       &kp N1       &kp N9        &kp N8   &kp N0    &kp N2    &kp N4    &kp N6   &kp BSPC
   &kp ESC    &bt BT_CLR   &trans       &trans       &trans       &trans        &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &kp HOME &trans
   &kp LSHFT  &kp LSHFT    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &kp BSPC &kp PG_DN &kp PG_UP &kp DEL   &kp END  &trans
                                        &kp LALT     &kp LGUI &espmod LCTRL ESC &trans   &trans    &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  &  |  *  |  (  |  )  |  \  | BKSP |
// | CTRL |  `  |  ~  |Resrv|  ^  |Resrv|   |  -  |  =  |  [  |  ]  |  '  |  `   |
// | SHFT | SHFT|     |     |Resrv|     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//              | ALT | GUI |EscSPC/CTRL|   |LYR4?|     |     |
                        bindings = <
   &kp  TAB  &kp EXCL  &kp AT    &kp HASH &kp DLLR  &kp PRCNT &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSLH &kp BSPC
   &kp LCTRL &kp GRAVE &kp TILDE &trans   &kp CARET &trans    &kp MINUS &kp EQUAL       &kp LBKT &kp RBKT &kp SQT  &kp GRAVE
   &kp LSHFT &kp LSHFT &trans    &trans   &trans    &trans    &kp UNDER &kp PLUS        &kp LBRC &kp RBRC &kp PIPE &kp TILDE
                       &kp LALT  &kp LGUI &espmod LCTRL ESC   &trans    &trans          &trans
                        >;
                };
        };
};
